.footer4 {
  .footer {
    display: flex;
    gap: 50px;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;

      li{
        width: 100%;
        padding: 50px 10px;
      }
      .subscribe {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          padding: 17px 16px;
          background: #f7f7f7;
          border-radius: 0px 4px 4px 0px;
          border: none;
        }
        button {
          padding: 17px 30px;
          border-radius: 0px 4px 4px 0px;
          background: #3a4f39;
          border: none;
        }
      }
    }
  }
}
